<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.BasicMapper">

<update id="updateViewCnt" parameterType="com.breaktheice.moimat.domain.BasicDomain">

        update team_post

        set post_hit = post_hit + 1

        where post_id = #{postId}

 </update>
 
	<!--page=2&perPageNum=10 -->
    <select id="selectBoardListPage" resultType="com.breaktheice.moimat.domain.BasicDomain" parameterType="com.breaktheice.moimat.page.Criteria">
	<![CDATA[
	SELECT * FROM
	(
        SELECT
            A.*,
            ROWNUM AS RNUM,
            COUNT(*) OVER() AS TOTCNT
        FROM
            (
                SELECT
                    *
                FROM
                    team_post
                ORDER BY post_id desc
             
            ) A
    )WHERE RNUM >= #{startNum} AND RNUM <= #{endNum}
  	]]>
	</select>
<select id="selectBoardList" parameterType="com.breaktheice.moimat.domain.BasicDomain" resultType="com.breaktheice.moimat.domain.BasicDomain"><!-- id는 함수호출 -->
   <!--    select bId, bName, bTitle, bContent, bDate, bHit, bGroup, bStep, bIndent from mvc_board order by bGroup desc, bStep asc -->
      select post_id, post_title, POST_NICKNAME, POST_HIT, TMEM_ID, POST_REGDATE from team_post order by post_id desc 
</select>
<select id="selectReplyList" parameterType="com.breaktheice.moimat.domain.BasicDomain" resultType="com.breaktheice.moimat.domain.BasicDomain">

	select cmt_id, post_id, brd_id, cmt_content, cmt_nickname, cmt_email, cmt_regdate, cmt_update 
	from  team_comments
	where post_id=#{postId}
	 order by cmt_id desc
	</select>
<select id="selectBoardOne" parameterType="com.breaktheice.moimat.domain.BasicDomain" resultType="com.breaktheice.moimat.domain.BasicDomain"><!-- id는 함수호출 -->
	SELECT POST_ID, post_title, post_nickname, post_hit, post_regdate, post_content, TMEM_ID
	from team_post
	where post_id=#{postId}
	
   </select> 
 		<!-- 페이징  -->
	<select id="selectAllBoard" resultType="Integer">
		select count(*) from team_post
	</select>
		
		
   <!-- 모임 게시물생성  -->
	<insert id="insertBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
   		insert into team_post (post_id, team_id, brd_id, post_title, post_content, tmem_id, 
   		post_tmem_level, post_nickname, post_email, post_regdate, post_update, post_hit)
   	
   		values (team_post_seq.nextval, #{teamId}, #{brdId}, #{postTitle}, #{postContent}, #{tmemId}, #{postTmemLevel},
   		#{postNickname}, #{postEmail}, sysdate, sysdate,0) 
	</insert>
	
	<!-- 게시물삭제 -->
	<delete id="deleteBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
		DELETE FROM team_post 
		WHERE 		post_id = #{postId}
	</delete>
	<!-- 게시물의 덧글삭제 -->
	<delete id="deleteBoardComment" parameterType="com.breaktheice.moimat.domain.BasicDomain">
		DELETE FROM team_comments 
		WHERE 		post_id = #{postId}
	</delete>
	
	
	<!-- 게시물 수정 -->
	<update id="modifyBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
		update team_post set POST_TITLE =#{postTitle},          
		POST_CONTENT =#{postContent},POST_regdate = sysdate
		where post_id=#{postId} and tmem_id=#{tmemId}
	</update>
	
	<!-- 댓글수정 -->
	<update id="replyUPBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
   		update team_comments set CMT_CONTENT = #{cmtContent}, cmt_regdate = sysdate
   		 where cmt_id =#{cmtId} and tmem_id =#{tmemId}
   </update>
   
   <!-- 댓글생성 -->
	<insert id="replyBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
	insert into team_comments(CMT_ID, POST_ID, BRD_ID, CMT_CONTENT,
	TMEM_ID, CMT_NICKNAME, CMT_EMAIL, CMT_REGDATE, CMT_UPDATE)
	values
	(team_comments_seq.nextval, #{postId}, #{brdId}, #{cmtContent}, #{tmemId},
	#{cmtNickname}, #{cmtEmail}, sysdate, sysdate)
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="replydeleteBoard" parameterType="com.breaktheice.moimat.domain.BasicDomain">
		delete from team_comments where CMT_ID=#{cmtId} and tmem_id=#{tmemId}
	</delete>
	
</mapper>