<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.InterestMapper">

	<select id="totalCount" resultType="Long">
		<![CDATA[		
		SELECT  count(*)
		FROM 	
		(	
			SELECT  rownum rn, int_id, int_key, int_name, int_order, int_use
			FROM 	interest
			WHERE 
		]]>
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'K'.toString()">
						int_key like '%'||#{keyword}||'%'
					</when>	
					<when test="type == 'N'.toString()">
						int_name like '%'||#{keyword}||'%'
					</when>			
				</choose>
			</trim>
			</foreach>
		</trim>
		<![CDATA[
			1=1
		)
		]]>
	</select>
	<select id="list" resultType="com.breaktheice.moimat.domain.InterestDomain">
	<![CDATA[		
		SELECT  rownum rn, int_id, int_key, int_name, int_order, int_use
		FROM 	
		(	
			SELECT  rownum rn, int_id, int_key, int_name, int_order, int_use
			FROM 	interest
			WHERE 
		]]>
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'K'.toString()">
						int_key like '%'||#{keyword}||'%'
					</when>	
					<when test="type == 'N'.toString()">
						int_name like '%'||#{keyword}||'%'
					</when>			
				</choose>
			</trim>
			</foreach>
		</trim>
		<![CDATA[
			rownum <= #{pageNum} * #{amount}
		)
		WHERE rn > (#{pageNum} -1 )* #{amount}
		ORDER BY int_order DESC, int_id ASC
		]]>
	</select>
	
	<select id="listAll" resultType="com.breaktheice.moimat.domain.InterestDomain">
		SELECT	int_id, int_key, int_name, int_order, int_use
		FROM	interest
		ORDER BY int_order DESC, int_id ASC
	</select>
	
	<select id="view" resultType="com.breaktheice.moimat.domain.InterestDomain">
		SELECT	int_id, int_key, int_name, int_order, int_use
		FROM	interest
		WHERE	int_id = #{intId}
	</select>
	
	<insert id="add">
		INSERT INTO	interest(int_id, int_key, int_name, int_order, int_use)
		VALUES	(interest_seq.nextval, UPPER(#{intKey}), #{intName}, #{intOrder}, #{intUse})
	</insert>
	
	<update id="update">
		UPDATE	interest
		SET		int_key = UPPER(#{intKey}),
				int_name = #{intName},
				int_order = #{intOrder},
				int_use = #{intUse}
		WHERE	int_id = #{intId}
	</update>
	
	<delete id="remove">
		DELETE FROM	interest
		WHERE	int_id = #{intId}
	</delete>
	
	<select id="keyCheck" resultType="Long">
		SELECT count(*)
		FROM interest
		WHERE int_key = UPPER(#{intKey})
	</select>
	
	<select id="selectInterestId" resultType="Long">
		select int_id
		from interest
		where int_key = #{intKey}
	</select>
</mapper>