<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.JoinMapper">
	
	<select id="getInterestCodelist" resultType="com.breaktheice.moimat.domain.InterestDomain" >
			SELECT   
					SEQ
					,KEY
					,VALUE
			FROM 
					INTEREST
		
		
	</select>
	
	<insert id="join" parameterType="com.breaktheice.moimat.domain.MemberDomain" >
			
		<!-- 회원가입 쿼리를 만들기 -->
		
			INSERT INTO MEMBER
			SET
				SEQ			= MEMBER_SEQ.NEXTVAL
				,ID 		= #{id}
			 	,PASSWORD 	= #{PASSWORD}
			 	,NAME	 	= #{NAME}
			 	,BIRTHDAY	= #{BIRTHDAY}
			 	,EMAIL  	= #{EMAIL}
			 	,AREA 		= #{AREA}
			 	,PHONE_NUMBER = #{PHONE_NUMBER}
			 	,STATE		= #{STATE}
			 	,REGDATE 	= #{REGDATE}
			 	,UPDATEDATE = #{UPDATEDATE}
			 	,PHOTO      = ""
			 	,INTEREST   = #{INTEREST}
		
	</insert>
	
	<insert id="insertInterest" parameterType="com.breaktheice.moimat.domain.MemberDomain" >
			
		<!-- 회원가입 쿼리를 만들기 -->
		
			INSERT INTO MEMBER_INTEREST
			SET
				SEQ			= MEMBER_SEQ.NEXTVAL
				,INTEREST_SEQ 		= #{id}
		
	</insert>
	
		
	<select id="checkMemberEmail" parameterType="String" resultType="String">
		
		SELECT 
				ID
		FROM
				MEMBER
		WHERE 
				email = #{email}
	
	</select>
	
	<insert id="insertCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain" >
			
		<!-- 인증코드 저장 -->
		
			INSERT INTO AUTHCODE
			VALUES(
				 #{email}
				,#{code}
				,SYSDATE 
			)
	</insert>
	
	<select id="selectCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain" resultType="com.breaktheice.moimat.domain.AuthCodeDomain">
		
		SELECT 
				*
		FROM
				AUTHCODE
		WHERE 
					code = #{code}
				and email = #{email}
	
	</select>
	
	<delete id="deleteCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain">
		
		DELETE 
				
		FROM
				AUTHCODE
		WHERE 
					code = #{code}
				and email = #{email}
	
	</delete>
	
	
</mapper>