<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.JoinMapper">
	
	<select id="getInterestCodelist" resultType="com.breaktheice.moimat.domain.InterestDomain" >
		
		SELECT   
				INT_ID
				,INT_KEY
				,INT_NAME
				,INT_ORDER
				,INT_ORDER
				,INT_IS_USE
		FROM 
				INTEREST
		
	</select>
	
	<insert id="join" parameterType="com.breaktheice.moimat.domain.MemberDomain" >
		<!-- 회원가입 쿼리를 만들기 -->
		INSERT INTO MEMBER
		SET
		(
			MEM_ID,
			MEM_EMAIL,
			MEM_PASSWORD,
			MEM_NICKNAME,
			MEM_BIRTHDAY,
			MEM_GENDER,
			MEM_AREA,
			MEM_REGDATE,
			MEM_UPDATE,
			MEM_LASTLOGIN,
			MEM_CONTENT,
			MEM_PHOTO,
			MEM_LEVEL,
			MEM_STATUS,
			MEM_INT1,
			MEM_INT2,
			MEM_INT3
		)
		VALUES
		(
			MEMBER_SEQ.NEXTVAL,
			#{memEmail},
			#{memPassword},
			#{memNickname},
			#{memBirthday},
			#{memGender},
			#{memArea},
			#{memRegdate},
			#{memDate},
			#{memLastlogin},
			#{memContent},
			#{memPhoto},
			#{memLevel},
			#{memStatus},
			#{memInt1}
		)
	</insert>
	
	<select id="checkMemberEmail" parameterType="String" resultType="String">
		
		SELECT 
				ID
		FROM
				MEMBER
		WHERE 
				MEM_EMAIL = #{memEmail}
	
	</select>
	
	<insert id="insertCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain" >
			
		<!-- 인증코드 저장 -->
		
		INSERT INTO CERT
		VALUES(
			 #{memEmail}
			,#{certCode}
			,SYSDATE 
		)
	</insert>
	
	<select id="selectCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain" resultType="com.breaktheice.moimat.domain.AuthCodeDomain">
		
		SELECT 
				*
		FROM
				CERT
		WHERE 
					CERT_CODE = #{certCode}
				and MEM_EMAIL = #{memEmail}
	
	</select>
	
	<delete id="deleteCode" parameterType="com.breaktheice.moimat.domain.AuthCodeDomain">
		
		DELETE 
				
		FROM
				CERT
		WHERE 
					CERT_CODE = #{certCode}
				and MEM_EMAIL = #{cretEmail}
	
	</delete>
	
	
</mapper>