<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.MeetingMapper">
	
	<select id="getMeetList" resultType="com.breaktheice.moimat.domain.MeetVO">
		select * from meet where team_seq = #{teamSeq}
	</select>
	
	<select id="getMeet" resultType="com.breaktheice.moimat.domain.MeetVO">
		select
			*
		from
			meet
		where
			seq = #{seq}
	</select>
	
	<insert id="regMeet">
		insert into meet (seq, team_seq, area, meetdate, regdate, updatedate, maxperson, member_seq,title,content,payment)
		values(meet_seq.nextval, #{teamSeq},#{area}, #{meetDate}, sysdate, sysdate, #{maxPerson}, #{memberSeq}, #{title}, #{content}, #{payment})
		<selectKey order="AFTER" keyProperty="seq" resultType="Long">
			select meet_seq.currval from dual
		</selectKey>
	</insert>
	
	<update id="modifyMeet">
		update
			meet
		set
			area = #{area},
			meetdate = #{meetDate},
			updatedate = sysdate,
			maxperson = #{maxPerson},
			title = #{title},
			content = #{content},
			payment = #{payment}
		where seq = #{seq}		
	</update>
	
	<delete id="deleteMeet">	
		delete
			meet
		where 
			seq = #{seq}
	</delete>
	
	<insert id="attendMeet">
		insert into
			meet_member
		values (#{meetSeq},#{memberSeq})
	</insert>
	
	<select id="getMeetingMember" resultType="com.breaktheice.moimat.domain.MemberVO">
		select
			member.*
		from
			meet_member, meet, member
		where
			meet.seq = meet_member.meet_seq
			and member.seq = meet_member.member_seq
			and meet.seq = #{seq}
	</select>
	
</mapper>