<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.MeetingMapper">
	
	<select id="getMeetList" resultType="com.breaktheice.moimat.domain.MeetVO">
	<![CDATA[
		select meet.*,meet_date-sysdate from meet where team_id = #{teamId} and meet_date-sysdate > 0 order by meet_date-sysdate
	]]>
	</select>
	
	<select id="getMeet" resultType="com.breaktheice.moimat.domain.MeetVO">
		select
			*
		from
			meet
		where
			meet_id = #{meetId}
	</select>
	
	<insert id="regMeet">
		insert into meet (meet_id, team_id, meet_title, meet_content, meet_date, meet_regdate, meet_max, meet_pay, tmem_id, meet_nickname)
		values(meet_seq.nextval, #{teamId}, #{meetTitle}, #{meetContent}, #{meetDate}, sysdate, #{meetMax}, #{meetPay}, #{tmemId}, #{meetNickName})
		<selectKey order="AFTER" keyProperty="meetId" resultType="Long">
			select meet_seq.currval from dual
		</selectKey>
	</insert>
	
	<update id="modifyMeet">
		update
			meet
		set
			meet_area = #{meetArea},
			meet_date = #{meetDate},
			meet_max = #{meetMax},
			meet_title = #{meetTitle},
			meet_content = #{meetContent},
			meet_pay = #{meetPay}
		where meet_Id = #{meetId}		
	</update>
	
	<delete id="deleteMeet">	
		delete
			meet
		where 
			meet_Id = #{meetId}
	</delete>
	
	<insert id="attendMeet">
		insert into 
			meet_member 
				(mmem_id, meet_id, tmem_id,mmem_nickname,mmem_email)
			(select 
				meet_member_seq.nextval,
				#{meetId}, 
				tmem_id, 
				tmem_nickname as mmem_nickname, 
				tmem_email as mmem_email 
			from 
				team_member
			where
				tmem_id = #{tmemId}
			)
	</insert>
	
	<delete id="cancelAttend">
		delete
			meet_member
		where
			meet_id = #{meetId}
		and
			tmem_id = #{tmemId}
	</delete>
	
	<select id="getMeetingMember" resultType="com.breaktheice.moimat.domain.MemberVO">
		select
			member.*
		from
			meet_member, meet, member
		where
			meet.seq = meet_member.meet_seq
			and member.seq = meet_member.member_seq
			and meet.seq = #{seq}
	</select>
	
	<select id="isAttend" resultType="boolean">
		select
			count(*)
		from
			meet_member
		where
			meet_seq = #{meetSeq}
            and member_seq = #{memberSeq}
	</select>
	
	<select id="countMeetMember" resultType="int">
		select
			count(*)
		from
			meet_member
		where
			meet_seq = #{meetSeq}
	</select>
	
</mapper>