<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.PhotoMapper">
	<!-- 게시물 상세보기 -->
	<select id="selectBoardOne" parameterType="com.breaktheice.moimat.domain.PhotoDomain"  resultType="com.breaktheice.moimat.domain.PhotoDomain"><!-- id는 함수호출 -->
	SELECT POST_ID,
	POST_NUM,
	TEAM_ID,
	BRD_ID,
	POST_TITLE,
	POST_CONTENT,
	TMEM_ID,
	POST_TMEM_LEVEL,
	POST_NICKNAME,
	POST_EMAIL,
	POST_REGDATE,
	POST_UPDATE,
	POST_HIT,
	POST_LIKE,
	POST_DISLIKE

	where post_id = #{postId}
   </select> 
 		<!-- 페이징  -->
	<select id="selectAllBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		select count(*) from team_post
	</select>
		
		
   <!-- 모임 게시물생성  -->
	<insert id="insertBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
   		insert into team_post (post_id, team_id, brd_id, post_title, post_content, tmem_id, 
   		post_tmem_level, post_nickname, post_email, post_regdate, post_update, post_hit)
   		
   		values (team_post_seq.nextval,#{teamId}, #{brdId}, #{postTitle} #{postContent}, #{tmemId}, #{postTmemLevel}
   		, #{postNickname}, #{postEmail}, sysdate, sysdate,0) 
	</insert> <!-- 팀포스트 테이블 컬럼들로 변경해줘야함 이거부터 하면됨 -->
	
	<!-- 게시물삭제 -->
	<delete id="deleteBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		delete from team_post where post_id=#{postId} and tmem_id=#{tmemId}
	</delete>
	
	<!-- 게시물 수정 -->
	<update id="modifyBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		update team_post set POST_TITLE = #{postTitle},
		POST_CONTENT = #{postContent},POST_UPDATE = sysdate
		where post_id=#{postId} and tmem_id=#{tmemId}
	</update>
	
	<!-- 댓글수정 -->
	<update id="replyUPBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
   		update team_comments set CMT_CONTENT = #{cmtContent}, UPDATE = sysdate
   		 where cmt_id =#{cmtId} and tmem_id =#{tmemId}
   </update>
   
   <!-- 댓글생성 -->
	<insert id="replyBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		insert into team_comments (CMT_ID,POST_ID,BRD_ID,CMT_CONTENT,TMEM_ID,CMT_NICKNAME,
		CMT_EMAIL,CMT_REGDATE,CMT_UPDATE)
		values (team_comments_seq.nextval, #{postId}, #{brdId}, #{cmtContent}, #{teamId},
		#{cmtNickname}, #{cmtEmail}, sysdate, sysdate)
	</insert>
	
	<!--   댓글 삭제 -->
	<delete id="replydeleteBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		delete from team_comments where CMT_ID=#{cmtId} and tmem_id=#{tmemId}
	</delete>
	
	<!-- file 테이블 인서트 -->
		<insert id="photoinsertBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		insert into team_post_file (PFI_ID, POST_ID, BRD_ID, TMEM_ID, PFI_ORIGINNAME, PFI_REGDATE)
		values (team_post_file_seq.nextval, #{postId}, #{brdId}, #{tmemId}, #{pfiOriginname})
		</insert>
	
	<!-- 사진삭제 -->
	<delete id="photodeleteBoard" parameterType="com.breaktheice.moimat.domain.PhotoDomain">
		delete from team_post_file where pfi_id = #{pfiId} and tmem_id = #{tmemId};
	</delete>
	
	
</mapper>