<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.PostMapper">

	<update id="viewCount">
	    UPDATE  post
	    SET     count = count+1
	    WHERE   seq = #{seq}
	</update>
	
	<select id="memberCheck" resultType="int">
		SELECT member_seq 
    	FROM post 
    	WHERE seq = ${seq}
	</select>

	<select id="list" resultType="com.breaktheice.moimat.domain.PostDomain">
		SELECT  p.seq seq, p.post_type_seq post_type_seq, p.title title, p.content content, p.regdate regdate, p.updatedate updatedate,
		        p.count count, p.member_seq member_seq, p.orgin orgin, p.priority priority, p.depth depth, m.name name
		FROM 	post p, member m
		WHERE 	p.member_seq = m.seq
		AND 	post_type_seq = #{postTypeSeq}
		ORDER BY seq
	</select>
	
	<select id="view" resultType="com.breaktheice.moimat.domain.PostDomain">
		SELECT  p.seq seq, p.post_type_seq post_type_seq, p.title title, p.content content, p.regdate regdate, p.updatedate updatedate,
        		p.count count, p.member_seq member_seq, p.orgin orgin, p.priority priority, p.depth depth, m.name name
		FROM 	post p, member m
		WHERE 	p.member_seq = m.seq
		AND 	post_type_seq = #{postTypeSeq}
		AND 	p.seq = #{seq}
		ORDER BY seq
	</select>
	
	<insert id="add">
		INSERT INTO post(
        		seq, post_type_seq, title, content, regdate, updatedate,
        		count, member_seq, orgin, priority, depth)
		VALUES  (post_seq.nextval, #{postTypeSeq}, #{title}, #{content}, sysdate, sysdate,
        		0, #{memberSeq}, post_seq.currval, #{priority}, #{depth})
	</insert>
	
	<update id="update">
	    UPDATE  post
	    SET     post_type_seq = #{postTypeSeq},
	            title = #{title},
	            content = #{content},
	            updatedate = sysdate
	    WHERE   seq = #{seq}
	</update>
	
	<delete id="remove">
	    DELETE FROM post
    	WHERE seq = #{seq}
	</delete>
</mapper>