<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.SearchMapper">
	
	<select id="autocomplete" parameterType="string" resultType="com.breaktheice.moimat.domain.TeamDomain">
		<![CDATA[
		SELECT	team_name, team_short_content,team_area from team
		WHERE	int_id in
					(SELECT	int_id
		FROM		interest
		WHERE		int_name like concat('%', concat(lower(#{keyword}),'%'))
					or
					int_name like concat('%', concat(upper(#{keyword}),'%')))
		]]>
	</select>
	
	
	<select id="recommend" parameterType="string" resultType="com.breaktheice.moimat.domain.InterestDomain">
		<![CDATA[
		SELECT	int_name
		FROM	interest
		WHERE	int_name like concat('%', concat(lower(#{keyword}),'%'))
		]]>
	</select>
	
</mapper>