<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.TeamCommentsMapper">

	<select id="selectAllComments" resultType="com.breaktheice.moimat.domain.TeamCommentsDTO">
		select cmt.CMT_ID, cmt.POST_ID, cmt.BRD_ID, cmt.CMT_CONTENT, cmt.TMEM_ID, cmt.CMT_NICKNAME, cmt.CMT_NICKNAME, cmt.CMT_EMAIL, cmt.CMT_REGDATE, cmt.CMT_UPDATE, mem.MEM_PHOTO
		from TEAM_COMMENTS cmt
		join MEMBER mem
		on cmt.TMEM_ID = mem.MEM_ID
		order by cmt.CMT_ID desc
	</select>

	<insert id="insertComment" parameterType="com.breaktheice.moimat.domain.TeamCommentsDomain">
		insert into TEAM_COMMENTS(cmt_id, post_id, brd_id, cmt_content, tmem_id, cmt_nickname, cmt_email, cmt_regdate, cmt_update)
		values(TEAM_COMMENTS_SEQ.nextval, #{ postId }, #{ brdId }, #{ cmtContent }, #{ tmemId }, #{ cmtNickname }, #{ cmtEmail }, sysdate, sysdate)
		<selectKey resultType="Long" keyProperty="cmtId" order="AFTER">
				select TEAM_COMMENTS_SEQ.currval from dual
		</selectKey>
	</insert>

	<select id="selectCommentById" resultType="com.breaktheice.moimat.domain.TeamCommentsDomain">
		select * from TEAM_COMMENTS where CMT_ID = #{ cmtId }
	</select>
	
</mapper>