<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breaktheice.moimat.persistence.TeamPostMapper">

	<select id="selectPost" resultType="com.breaktheice.moimat.domain.TeamPostDomain">
		select * from team_post where post_id = #{postId} and brd_id = #{brdId}
	</select>

	<select id="selectAllPosts" resultType="com.breaktheice.moimat.domain.TeamPostDomain">
		SELECT
			POST_ID, POST_NUM, TEAM_ID, BRD_ID, POST_TITLE, 
			POST_CONTENT, TMEM_ID, POST_TMEM_LEVEL, POST_NICKNAME, POST_EMAIL,
			POST_REGDATE, POST_UPDATE, POST_HIT, POST_LIKE, POST_DISLIKE
		FROM
			(SELECT rownum rn, TP.*
			FROM
				(SELECT
					*
				FROM
					TEAM_POST
				WHERE
					TEAM_ID = #{teamId} AND BRD_ID = #{cri.brdId}
				ORDER BY 
					POST_ID DESC) TP
			WHERE
		<include refid="criteria"></include>
		<![CDATA[
			rownum <= #{cri.pageNum} * #{cri.amount}		
			)
		WHERE
			rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>		
	</select>
	
	<select id="getTotalCount" resultType="Long">
		SELECT
			COUNT(*)
		FROM
			TEAM_POST
		WHERE
		<include refid="criteria"></include>
		BRD_ID = #{cri.brdId}
	</select>

	<insert id="insertPost" parameterType="com.breaktheice.moimat.domain.TeamPostDomain">
		insert into team_post(post_id, team_id, brd_id, post_title, post_content, tmem_id, post_tmem_level, post_nickname, post_email, post_regdate, post_update, post_hit)
		values(TEAM_POST_SEQ.nextval, #{ teamId }, #{ brdId }, #{ postTitle }, #{ postContent }, #{ tmemId }, #{ postTmemLevel }, #{ postNickname }, #{ postEmail }, sysdate, sysdate, 0)
		<selectKey resultType="Long" keyProperty="postId" order="AFTER">
			select TEAM_POST_SEQ.currval from dual
		</selectKey>
	</insert>

	<update id="updatePost" parameterType="com.breaktheice.moimat.domain.TeamPostDomain">
		update TEAM_POST
		set POST_TITLE = #{ postTitle }, POST_CONTENT = #{ postContent }, POST_UPDATE = sysdate where POST_ID = #{ postId }
	</update>

	<delete id="deletePost">
		delete from TEAM_POST where post_id = #{ postId }
	</delete>

	<update id="updateViewCount">
		update TEAM_POST set POST_HIT = POST_HIT + 1 where POST_ID = #{ postId }
	</update>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							POST_TITLE LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							POST_CONTENT LIKE '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							POST_NICKNAME LIKE '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>			
			</foreach>
		</trim>
	</sql>
	
</mapper>